@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100&display=swap');

main{
    width:80%;
    margin-left: auto;
    margin-right: auto;
    grid:
      "novoContato agenda" 1fr
      / 1fr 1fr;
}

h1{
    font-family: sans-serif;
    font-weight: 600;
}

form{
    grid-area: novoContato;
    background-color: antiquewhite;
    padding-bottom: 10px;
    padding-top: 20px;
    font-family: 'Catamaran', sans-serif;
    font-size: 14pt;
    float:left;
    width: 49%;
    margin-left: 10px;
}

div{
   margin-left: 60px;
   margin-bottom: 8px;
}

small{
   color:green;
}

input{
    margin-left: 1px;
}

div#listagem{
    grid-area: agenda;
    background-color: lightsalmon;
    margin-left: 10px;
    height: 345px;
    overflow-y: scroll;
    float:left;
    width: 49%;
}

div h3{
  margin-left: 5px;
}

button{
    display: block;
    background-color:cornflowerblue;
    color: cornsilk;
    margin-left: 60px;
    border-radius: 5px;
}

button:hover{
    background-color:darkolivegreen;
}

img{
    vertical-align: middle;
    margin-left: 3px;
}

#hrfinal{
  margin-top: 370px;
}
